.button, .button-secondary, .button-third {
     text-decoration: none;
     border: 2px solid $color__orange;
     color: $color__orange;
     display: inline-block;
     margin: 1em 0;
     padding: 1em 1.6em;
     font-size: 0.85rem;
     border-radius: 5px;
     background-color: $color__baige;
     margin-left: 100px;
     margin-right: 100px;
     &:hover {
          background-color: $color__orange;
          color: $color__baige;
          border: 2px solid $color__baige;
     }
     .alt {
          @extend .button;
          background-color: $color__orange;
          color: $color__grey;
     }
}