.nav {
     .menu {
          @include listreset;
          display: flex;
          .menu-item {
               a{
                    text-decoration: none;
                    color: $color__grey;
                    padding: 1em 2em;
                    display: block;
                    &:hover {
                         color: $color__orange;
                    }
               }
          }
     }
}